pentest_error_workflow.json
{
  "name": "Global Error Alert - Discord",
  "nodes": [
    {
      "parameters": {},
      "id": "node_error_trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json || {};\nconst execution = payload.execution || {};\nconst workflowName = execution.workflowData?.name || payload.workflow?.name || 'unknown-workflow';\nconst lastNode = execution.lastNodeExecuted || payload.lastNodeExecuted || 'unknown-node';\nconst errorMessage = payload.error?.message || execution.error?.message || payload.message || 'Unknown error';\nconst errorStack = String(payload.error?.stack || execution.error?.stack || '').split('\\n').slice(0, 8).join('\\n');\n\nconst raw = [\n  '[n8n Workflow Error]',\n  `Workflow: ${workflowName}`,\n  `Node: ${lastNode}`,\n  `Message: ${errorMessage}`,\n  `Time: ${new Date().toISOString()}`,\n  errorStack ? `\\n${errorStack}` : ''\n].join('\\n');\n\nconst content = raw.length > 1800 ? `${raw.slice(0, 1797)}...` : raw;\nreturn [{ json: { content } }];"
      },
      "id": "node_build_error_alert",
      "name": "Build Error Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { content: $json.content } }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node_send_error_alert",
      "name": "Send Discord Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "continueOnFail": true
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [[{ "node": "Build Error Alert Message", "type": "main", "index": 0 }]]
    },
    "Build Error Alert Message": {
      "main": [[{ "node": "Send Discord Error Alert", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": ["alerts", "error-handling", "discord"],
  "triggerCount": 1
}
