pentest_workflow.json
{
  "name": "AI Pentest Automation — Full Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "start-scan",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node_webhook_trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [80, 300],
      "webhookId": "pentest-start-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate the incoming webhook payload\nconst body = $input.first().json.body || $input.first().json;\n\nif (!body.target) {\n  throw new Error('Missing required field: target. Expected: { \"target\": \"example.com\" }');\n}\n\nconst target = body.target.trim().toLowerCase().replace(/^https?:\\/\\//, '');\nconst outOfScope = body.out_of_scope || [];\n\nreturn [{\n  json: {\n    target,\n    out_of_scope: outOfScope,\n    discord_webhook: $env.DISCORD_WEBHOOK_URL,\n    scan_id: `scan_${target}_${Date.now()}`,\n    started_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "node_parse_input",
      "name": "Parse and Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },

    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api -p 22 'nuclei -update-templates -silent && echo templates-updated'"
      },
      "id": "node_preflight_update",
      "name": "Pre-Flight: Update Nuclei Templates",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [520, 300]
    },

    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api 'asnmap -d {{ $json.target }} -json 2>/dev/null | head -20'"
      },
      "id": "node_asnmap",
      "name": "Phase 1A: ASN Mapping",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [740, 180]
    },
    {
      "parameters": {
        "url": "=https://api.shodan.io/shodan/host/search?key={{ $env.SHODAN_API_KEY }}&query=ssl.cert.subject.CN:{{ $('Parse and Validate Input').item.json.target }}&facets=port,country",
        "options": {}
      },
      "id": "node_shodan",
      "name": "Phase 1B: Shodan Passive Recon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [740, 320]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/search/code?q={{ $('Parse and Validate Input').item.json.target }}+password&per_page=30",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GITHUB_TOKEN }}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" }
          ]
        },
        "options": {}
      },
      "id": "node_github_dork",
      "name": "Phase 1C: GitHub Leak Hunt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [740, 460]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "node_rate_limit_wait",
      "name": "Rate Limit Wait — GitHub (3s)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [960, 460]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api 'proxychains4 -q go-dork -q \"site:{{ $('Parse and Validate Input').item.json.target }} ext:env OR ext:sql OR ext:bak\" -p 2 2>/dev/null'"
      },
      "id": "node_godork",
      "name": "Phase 1D: Google Dorking via Tor Proxy",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1180, 460]
    },

    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api 'bash /data/subenum-advanced.sh {{ $('Parse and Validate Input').item.json.target }} 2>/dev/null | sort -u | tee /data/temp/all_subs_{{ $('Parse and Validate Input').item.json.scan_id }}.txt'"
      },
      "id": "node_subenum",
      "name": "Phase 2: Deep Subdomain Enumeration",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1400, 300]
    },

    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api 'cat /data/temp/all_subs_{{ $('Parse and Validate Input').item.json.scan_id }}.txt | dnsx -silent -resp -json | tee /data/temp/live_subs_{{ $('Parse and Validate Input').item.json.scan_id }}.json'"
      },
      "id": "node_dnsx",
      "name": "Phase 3A: DNS Resolution (dnsx)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1620, 180]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api 'cat /data/temp/all_subs_{{ $('Parse and Validate Input').item.json.scan_id }}.txt | httpx -silent -status-code -tech-detect -json -rl 20 -H \"User-Agent: Mozilla/5.0 (iPhone; CPU iPhone OS 16_6 like Mac OS X)\" | tee /data/temp/httpx_{{ $('Parse and Validate Input').item.json.scan_id }}.json'"
      },
      "id": "node_httpx",
      "name": "Phase 3B: HTTP Probing with UA Rotation (httpx)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1620, 320]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api 'cat /data/temp/all_subs_{{ $('Parse and Validate Input').item.json.scan_id }}.txt | wafw00f -i /dev/stdin -a -o /data/temp/waf_{{ $('Parse and Validate Input').item.json.scan_id }}.txt 2>/dev/null && echo done'"
      },
      "id": "node_wafw00f",
      "name": "Phase 3C: WAF Detection (wafw00f)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1620, 460]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api 'wappalyzergo -list /data/temp/all_subs_{{ $('Parse and Validate Input').item.json.scan_id }}.txt -json 2>/dev/null | tee /data/temp/tech_{{ $('Parse and Validate Input').item.json.scan_id }}.json && cat /data/temp/tech_{{ $('Parse and Validate Input').item.json.scan_id }}.json'"
      },
      "id": "node_wappalyzer",
      "name": "Phase 3D: Technology Fingerprinting (wappalyzergo)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1840, 180]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api 'katana -list /data/temp/all_subs_{{ $('Parse and Validate Input').item.json.scan_id }}.txt -hl -jc -js-crawl -rl 20 -c 5 -d 3 -o /data/temp/katana_{{ $('Parse and Validate Input').item.json.scan_id }}.txt 2>/dev/null && echo done'"
      },
      "id": "node_katana",
      "name": "Phase 3E: Headless Crawling — JS Parsing (katana)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1840, 320]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api 'cat /data/temp/all_subs_{{ $('Parse and Validate Input').item.json.scan_id }}.txt | gau --threads 2 --retries 3 | sort -u | tee /data/temp/historical_{{ $('Parse and Validate Input').item.json.scan_id }}.txt'"
      },
      "id": "node_gau",
      "name": "Phase 3F: Historical URL Fetch (gau + waybackurls)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1840, 460]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api 'cat /data/temp/katana_{{ $('Parse and Validate Input').item.json.scan_id }}.txt /data/temp/historical_{{ $('Parse and Validate Input').item.json.scan_id }}.txt | sort -u > /data/temp/all_urls_{{ $('Parse and Validate Input').item.json.scan_id }}.txt && xnLinkFinder -i /data/temp/all_urls_{{ $('Parse and Validate Input').item.json.scan_id }}.txt -sp http://{{ $('Parse and Validate Input').item.json.target }}/ -o /data/temp/endpoints_{{ $('Parse and Validate Input').item.json.scan_id }}.txt 2>/dev/null && cat /data/temp/endpoints_{{ $('Parse and Validate Input').item.json.scan_id }}.txt'"
      },
      "id": "node_xnlink",
      "name": "Phase 3G: Endpoint Extraction (xnLinkFinder)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2060, 320]
    },

    {
      "parameters": {
        "jsCode": "// Read the tech stack JSON and build the AI agent prompt.\n// The Pentest-Playbook.md is mounted at /data/Pentest-Playbook.md\n// inside the container. Ollama uses this as context for command selection.\nconst raw = $input.first().json.stdout || '{}';\nlet techStack = {};\ntry { techStack = JSON.parse(raw); } catch(e) { techStack = { raw }; }\n\nconst target = $('Parse and Validate Input').item.json.target;\n\nconst prompt = `You are an expert penetration tester. The user's Pentest-Playbook is located at /data/Pentest-Playbook.md.\nTarget domain: ${target}\nDetected technology stack: ${JSON.stringify(techStack)}\n\nBased on the technology stack, output ONLY a raw JSON array of the exact bash commands to execute from the user's playbook.\nSelect only tools relevant to the detected tech stack.\nEach item must be: { \"tool\": \"toolname\", \"command\": \"exact bash command\", \"reason\": \"why this applies\" }\nDo NOT wrap in markdown. Output only the JSON array.`;\n\nreturn [{ json: { prompt, target, tech_stack: techStack } }];"
      },
      "id": "node_build_ai_prompt",
      "name": "AI Agent: Build Context Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2280, 320]
    },
    {
      "parameters": {
        "url": "http://ollama:11434/api/generate",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3\",\n  \"prompt\": {{ JSON.stringify($json.prompt) }},\n  \"stream\": false\n}",
        "options": {}
      },
      "id": "node_ollama_agent",
      "name": "Phase 4: AI Agent Decision (Ollama — Local, Free)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2500, 320]
    },
    {
      "parameters": {
        "jsCode": "// Parse and SECURITY-SANITIZE AI-generated commands before execution.\n// This is a critical safety gate — it blocks any destructive patterns\n// before they reach the tools container, regardless of AI output.\nconst raw = $input.first().json.response || '';\nconst target = $('Parse and Validate Input').item.json.target;\nconst scan_id = $('Parse and Validate Input').item.json.scan_id;\n\nlet commands = [];\ntry {\n  const match = raw.match(/\\[.*\\]/s);\n  if (match) commands = JSON.parse(match[0]);\n} catch(e) {\n  // Ollama failed to produce valid JSON — run safe fallback Nuclei scan\n  commands = [{\n    tool: 'nuclei',\n    command: `nuclei -u https://${target} -t exposures/ -t takeovers/ -t misconfiguration/ -rl 10 -silent -json`,\n    reason: 'AI fallback: default safe exposure scan'\n  }];\n}\n\n// SECURITY: Block any command containing these destructive patterns\nconst BLOCKED_PATTERNS = [\n  'rm -rf', 'rm -r', 'mkfs', 'dd if=', 'shutdown', 'reboot',\n  'poweroff', 'kill -9', '; rm', '&& rm', '|| rm',\n  'wget http://', 'curl http://', '> /etc/', '> /root/'\n];\n\nconst safeCommands = commands.filter(c =>\n  c.command && !BLOCKED_PATTERNS.some(p => c.command.includes(p))\n);\n\nreturn safeCommands.map(c => ({\n  json: { ...c, target, scan_id }\n}));"
      },
      "id": "node_parse_agent_commands",
      "name": "Security Gate: Parse and Sanitize AI Commands",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2720, 320]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api '{{ $json.command }} 2>&1 | tee /data/temp/agent_{{ $json.tool }}_{{ $json.scan_id }}.txt | tail -100'"
      },
      "id": "node_execute_ai_cmd",
      "name": "Phase 4: Execute AI-Directed Tool Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2940, 320]
    },

    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api 'cat /data/temp/endpoints_{{ $('Parse and Validate Input').item.json.scan_id }}.txt | grep -i \"?\" | dalfox pipe --silence --delay 500 -o /data/temp/dalfox_{{ $('Parse and Validate Input').item.json.scan_id }}.txt 2>/dev/null && echo done'"
      },
      "id": "node_dalfox",
      "name": "Phase 5A: XSS Automation (dalfox — parameter driven)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3160, 180]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api 'feroxbuster -u https://{{ $('Parse and Validate Input').item.json.target }}/ -w /data/wordlists/SecLists/Discovery/Web-Content/raft-large-directories.txt -C 404,403,500 --rate-limit 10 -t 5 --depth 3 -o /data/temp/ferox_{{ $('Parse and Validate Input').item.json.scan_id }}.txt 2>/dev/null && echo done'"
      },
      "id": "node_feroxbuster",
      "name": "Phase 5B: Directory Enumeration (feroxbuster — rate limited)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3160, 320]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api 'nuclei -l /data/temp/all_subs_{{ $('Parse and Validate Input').item.json.scan_id }}.txt -t cves/ -t vulnerabilities/ -t misconfiguration/ -t exposures/ -rl 50 -c 12 -silent -json -o /data/temp/nuclei_{{ $('Parse and Validate Input').item.json.scan_id }}.json 2>/dev/null && echo done'"
      },
      "id": "node_nuclei",
      "name": "Phase 5C: Nuclei CVE and Misconfiguration Scan",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3160, 460]
    },

    {
      "parameters": {
        "jsCode": "// Aggregate all scan results into a structured finding list.\n// This node reads Nuclei JSONL output and Dalfox results,\n// classifies by severity, and feeds the severity router.\nconst target = $('Parse and Validate Input').item.json.target;\nconst scan_id = $('Parse and Validate Input').item.json.scan_id;\n\nconst nucleiRaw = $('Phase 5C: Nuclei CVE and Misconfiguration Scan').item.json.stdout || '';\nconst dalfoxRaw = $('Phase 5A: XSS Automation (dalfox — parameter driven)').item.json.stdout || '';\n\nconst findings = [];\n\n// Parse Nuclei JSONL — each line is a separate finding\nconst nucleiLines = nucleiRaw.split('\\n').filter(l => l.trim().startsWith('{'));\nfor (const line of nucleiLines) {\n  try {\n    const p = JSON.parse(line);\n    findings.push({\n      source: 'nuclei',\n      severity: p.info?.severity || 'info',\n      name: p.info?.name || 'Unknown',\n      host: p.host,\n      matched_at: p['matched-at'],\n      description: p.info?.description || ''\n    });\n  } catch(e) {}\n}\n\n// Dalfox — simple keyword detection\nif (dalfoxRaw.includes('[V]') || dalfoxRaw.includes('VULN')) {\n  findings.push({\n    source: 'dalfox',\n    severity: 'medium',\n    name: 'Reflected XSS',\n    host: target,\n    matched_at: target,\n    description: 'Reflected XSS confirmed by Dalfox parameter injection.'\n  });\n}\n\nconst critical = findings.filter(f => ['critical', 'high'].includes(f.severity));\nconst medium = findings.filter(f => f.severity === 'medium');\nconst low = findings.filter(f => ['low', 'info'].includes(f.severity));\n\nreturn [{ json: { target, scan_id, total: findings.length, critical, medium, low } }];"
      },
      "id": "node_aggregate_findings",
      "name": "Aggregate All Scan Findings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3380, 320]
    },

    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.critical.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "node_severity_switch",
      "name": "Severity Router — Critical vs Medium",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3600, 320]
    },

    {
      "parameters": {
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are a professional penetration tester writing a formal bug bounty report.\\nTarget: {{ $json.target }}\\nCritical and High Findings: {{ JSON.stringify($json.critical) }}\\n\\nFor each finding: (1) Confirm if it is a true positive or false positive. (2) If true positive, write a professional Markdown report section with: Severity, Affected Endpoint, Description, Proof of Concept steps, and CVSS Score estimate.\"\n    }]\n  }]\n}",
        "options": {}
      },
      "id": "node_gemini_verify",
      "name": "Phase 6A: Gemini Verification — Critical Findings Only",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3820, 180]
    },
    {
      "parameters": {
        "url": "http://ollama:11434/api/generate",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3\",\n  \"prompt\": \"Summarize these medium-severity security findings in 3 concise bullet points suitable for a security report. Include the endpoint and impact for each. Findings: {{ JSON.stringify($json.medium) }}\",\n  \"stream\": false\n}",
        "options": {}
      },
      "id": "node_ollama_medium",
      "name": "Phase 6B: Ollama Summary — Medium Findings (Local, Free)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3820, 460]
    },

    {
      "parameters": {
        "jsCode": "// Generate the final Markdown penetration test report.\n// Critical findings are Gemini-verified. Medium findings use Ollama (free).\n// Low/Info findings are catalogued silently without AI API cost.\nconst target = $('Parse and Validate Input').item.json.target;\nconst scan_id = $('Parse and Validate Input').item.json.scan_id;\nconst started_at = $('Parse and Validate Input').item.json.started_at;\nconst findings = $('Aggregate All Scan Findings').item.json;\n\nconst geminiText = $('Phase 6A: Gemini Verification — Critical Findings Only').item?.json?.candidates?.[0]?.content?.parts?.[0]?.text\n  || '_No critical findings requiring Gemini verification._';\nconst ollamaSummary = $('Phase 6B: Ollama Summary — Medium Findings (Local, Free)').item?.json?.response\n  || '_No medium findings._';\n\nconst completed_at = new Date().toISOString();\n\nconst report = `# Penetration Test Report: ${target}\n\n**Scan ID:** ${scan_id}  \n**Started:** ${started_at}  \n**Completed:** ${completed_at}  \n\n---\n\n## Summary\n\n| Severity | Count |\n|----------|-------|\n| Critical / High | ${findings.critical.length} |\n| Medium | ${findings.medium.length} |\n| Low / Informational | ${findings.low.length} |\n| **Total Findings** | **${findings.total}** |\n\n---\n\n## Critical and High Severity Findings (Gemini Verified)\n\n${geminiText}\n\n---\n\n## Medium Severity Findings (Ollama Summary)\n\n${ollamaSummary}\n\n---\n\n## Low and Informational Findings\n\n${findings.low.map(f => `- **[${f.severity.toUpperCase()}]** ${f.name} — \\`${f.matched_at}\\``).join('\\n') || '_None._'}\n\n---\n\n*Generated by AI Pentest Automation Framework*  \n*Gemini was used only for critical/high findings to minimize API cost.*\n`;\n\nreturn [{ json: { report, target, scan_id, findings, report_filename: `${target}_${scan_id}.md` } }];"
      },
      "id": "node_build_report",
      "name": "Phase 7A: Generate Final Markdown Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4040, 320]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api 'cat > /data/reports/{{ $json.report_filename }} << '\"'\"'REPORTEOF'\"'\"'\n{{ $json.report }}\nREPORTEOF\necho Report saved: /data/reports/{{ $json.report_filename }}'"
      },
      "id": "node_save_report",
      "name": "Phase 7B: Save Report to Disk",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [4260, 180]
    },
    {
      "parameters": {
        "url": "={{ $('Parse and Validate Input').item.json.discord_webhook }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"username\": \"Pentest Automation Bot\",\n  \"embeds\": [{\n    \"title\": \"Scan Complete: {{ $('Parse and Validate Input').item.json.target }}\",\n    \"color\": {{ $json.findings.critical.length > 0 ? 15158332 : ($json.findings.medium.length > 0 ? 16776960 : 3066993) }},\n    \"fields\": [\n      { \"name\": \"Critical / High\", \"value\": \"{{ $json.findings.critical.length }}\", \"inline\": true },\n      { \"name\": \"Medium\", \"value\": \"{{ $json.findings.medium.length }}\", \"inline\": true },\n      { \"name\": \"Low / Info\", \"value\": \"{{ $json.findings.low.length }}\", \"inline\": true },\n      { \"name\": \"Report Location\", \"value\": \"`/data/reports/{{ $json.report_filename }}`\", \"inline\": false }\n    ],\n    \"footer\": { \"text\": \"Scan ID: {{ $('Parse and Validate Input').item.json.scan_id }}\" },\n    \"timestamp\": \"{{ new Date().toISOString() }}\"\n  }]\n}",
        "options": {}
      },
      "id": "node_discord_alert",
      "name": "Phase 7C: Discord Scan Completion Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [4260, 460]
    },

    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 0 * * 5" }]
        }
      },
      "id": "node_cron_monitor",
      "name": "Cron: Weekly Subdomain Monitor (Friday Midnight)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [80, 700]
    },
    {
      "parameters": {
        "jsCode": "// Load the monitored scope list. Set MONITOR_TARGETS in n8n environment variables.\n// Format: comma-separated list of root domains, e.g. 'target1.com,target2.com'\nconst targets = ($env.MONITOR_TARGETS || 'example.com').split(',').map(t => t.trim());\nreturn targets.map(t => ({ json: { target: t, scan_id: `monitor_${t}_${Date.now()}` } }));"
      },
      "id": "node_cron_scope",
      "name": "Load Monitored Scope from MONITOR_TARGETS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 700]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api '\nNEW_SUBS=$(subfinder -d {{ $json.target }} -silent 2>/dev/null)\nBASELINE=/data/temp/baseline_{{ $json.target }}.txt\nif [ -f \"$BASELINE\" ]; then\n  DIFF=$(comm -23 <(echo \"$NEW_SUBS\" | sort) <(sort \"$BASELINE\"))\n  if [ -n \"$DIFF\" ]; then\n    echo \"NEW_FOUND:${DIFF}\"\n    echo \"$NEW_SUBS\" | sort > \"$BASELINE\"\n  else\n    echo NO_CHANGE\n  fi\nelse\n  echo \"$NEW_SUBS\" | sort > \"$BASELINE\"\n  echo BASELINE_CREATED\nfi\n'"
      },
      "id": "node_cron_compare",
      "name": "Compare Live Subdomains vs Stored Baseline",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [520, 700]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stdout }}",
              "operation": "contains",
              "value2": "NEW_FOUND:"
            }
          ]
        }
      },
      "id": "node_cron_new_check",
      "name": "New Subdomain Detected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [740, 700]
    },
    {
      "parameters": {
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"username\": \"Pentest Automation Bot\",\n  \"embeds\": [{\n    \"title\": \"New Subdomains Detected: {{ $('Load Monitored Scope from MONITOR_TARGETS').item.json.target }}\",\n    \"color\": 16753920,\n    \"description\": \"The following new subdomains were discovered on the weekly scan:\\n```\\n{{ $json.stdout.replace('NEW_FOUND:', '').trim() }}\\n```\",\n    \"footer\": { \"text\": \"Weekly Subdomain Monitor\" },\n    \"timestamp\": \"{{ new Date().toISOString() }}\"\n  }]\n}",
        "options": {}
      },
      "id": "node_cron_discord",
      "name": "Alert: New Subdomain Detected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 660]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Parse and Validate Input", "type": "main", "index": 0 }]]
    },
    "Parse and Validate Input": {
      "main": [[{ "node": "Pre-Flight: Update Nuclei Templates", "type": "main", "index": 0 }]]
    },
    "Pre-Flight: Update Nuclei Templates": {
      "main": [[
        { "node": "Phase 1A: ASN Mapping", "type": "main", "index": 0 },
        { "node": "Phase 1B: Shodan Passive Recon", "type": "main", "index": 0 },
        { "node": "Phase 1C: GitHub Leak Hunt", "type": "main", "index": 0 }
      ]]
    },
    "Phase 1C: GitHub Leak Hunt": {
      "main": [[{ "node": "Rate Limit Wait — GitHub (3s)", "type": "main", "index": 0 }]]
    },
    "Rate Limit Wait — GitHub (3s)": {
      "main": [[{ "node": "Phase 1D: Google Dorking via Tor Proxy", "type": "main", "index": 0 }]]
    },
    "Phase 1D: Google Dorking via Tor Proxy": {
      "main": [[{ "node": "Phase 2: Deep Subdomain Enumeration", "type": "main", "index": 0 }]]
    },
    "Phase 1A: ASN Mapping": {
      "main": [[{ "node": "Phase 2: Deep Subdomain Enumeration", "type": "main", "index": 0 }]]
    },
    "Phase 1B: Shodan Passive Recon": {
      "main": [[{ "node": "Phase 2: Deep Subdomain Enumeration", "type": "main", "index": 0 }]]
    },
    "Phase 2: Deep Subdomain Enumeration": {
      "main": [[
        { "node": "Phase 3A: DNS Resolution (dnsx)", "type": "main", "index": 0 },
        { "node": "Phase 3B: HTTP Probing with UA Rotation (httpx)", "type": "main", "index": 0 },
        { "node": "Phase 3C: WAF Detection (wafw00f)", "type": "main", "index": 0 }
      ]]
    },
    "Phase 3A: DNS Resolution (dnsx)": {
      "main": [[{ "node": "Phase 3D: Technology Fingerprinting (wappalyzergo)", "type": "main", "index": 0 }]]
    },
    "Phase 3B: HTTP Probing with UA Rotation (httpx)": {
      "main": [[{ "node": "Phase 3D: Technology Fingerprinting (wappalyzergo)", "type": "main", "index": 0 }]]
    },
    "Phase 3C: WAF Detection (wafw00f)": {
      "main": [[{ "node": "Phase 3E: Headless Crawling — JS Parsing (katana)", "type": "main", "index": 0 }]]
    },
    "Phase 3D: Technology Fingerprinting (wappalyzergo)": {
      "main": [[
        { "node": "Phase 3E: Headless Crawling — JS Parsing (katana)", "type": "main", "index": 0 },
        { "node": "Phase 3F: Historical URL Fetch (gau + waybackurls)", "type": "main", "index": 0 }
      ]]
    },
    "Phase 3E: Headless Crawling — JS Parsing (katana)": {
      "main": [[{ "node": "Phase 3G: Endpoint Extraction (xnLinkFinder)", "type": "main", "index": 0 }]]
    },
    "Phase 3F: Historical URL Fetch (gau + waybackurls)": {
      "main": [[{ "node": "Phase 3G: Endpoint Extraction (xnLinkFinder)", "type": "main", "index": 0 }]]
    },
    "Phase 3G: Endpoint Extraction (xnLinkFinder)": {
      "main": [[{ "node": "AI Agent: Build Context Prompt", "type": "main", "index": 0 }]]
    },
    "AI Agent: Build Context Prompt": {
      "main": [[{ "node": "Phase 4: AI Agent Decision (Ollama — Local, Free)", "type": "main", "index": 0 }]]
    },
    "Phase 4: AI Agent Decision (Ollama — Local, Free)": {
      "main": [[{ "node": "Security Gate: Parse and Sanitize AI Commands", "type": "main", "index": 0 }]]
    },
    "Security Gate: Parse and Sanitize AI Commands": {
      "main": [[{ "node": "Phase 4: Execute AI-Directed Tool Command", "type": "main", "index": 0 }]]
    },
    "Phase 4: Execute AI-Directed Tool Command": {
      "main": [[
        { "node": "Phase 5A: XSS Automation (dalfox — parameter driven)", "type": "main", "index": 0 },
        { "node": "Phase 5B: Directory Enumeration (feroxbuster — rate limited)", "type": "main", "index": 0 },
        { "node": "Phase 5C: Nuclei CVE and Misconfiguration Scan", "type": "main", "index": 0 }
      ]]
    },
    "Phase 5A: XSS Automation (dalfox — parameter driven)": {
      "main": [[{ "node": "Aggregate All Scan Findings", "type": "main", "index": 0 }]]
    },
    "Phase 5B: Directory Enumeration (feroxbuster — rate limited)": {
      "main": [[{ "node": "Aggregate All Scan Findings", "type": "main", "index": 0 }]]
    },
    "Phase 5C: Nuclei CVE and Misconfiguration Scan": {
      "main": [[{ "node": "Aggregate All Scan Findings", "type": "main", "index": 0 }]]
    },
    "Aggregate All Scan Findings": {
      "main": [[{ "node": "Severity Router — Critical vs Medium", "type": "main", "index": 0 }]]
    },
    "Severity Router — Critical vs Medium": {
      "main": [
        [{ "node": "Phase 6A: Gemini Verification — Critical Findings Only", "type": "main", "index": 0 }],
        [{ "node": "Phase 6B: Ollama Summary — Medium Findings (Local, Free)", "type": "main", "index": 0 }]
      ]
    },
    "Phase 6A: Gemini Verification — Critical Findings Only": {
      "main": [[{ "node": "Phase 7A: Generate Final Markdown Report", "type": "main", "index": 0 }]]
    },
    "Phase 6B: Ollama Summary — Medium Findings (Local, Free)": {
      "main": [[{ "node": "Phase 7A: Generate Final Markdown Report", "type": "main", "index": 0 }]]
    },
    "Phase 7A: Generate Final Markdown Report": {
      "main": [[
        { "node": "Phase 7B: Save Report to Disk", "type": "main", "index": 0 },
        { "node": "Phase 7C: Discord Scan Completion Alert", "type": "main", "index": 0 }
      ]]
    },
    "Cron: Weekly Subdomain Monitor (Friday Midnight)": {
      "main": [[{ "node": "Load Monitored Scope from MONITOR_TARGETS", "type": "main", "index": 0 }]]
    },
    "Load Monitored Scope from MONITOR_TARGETS": {
      "main": [[{ "node": "Compare Live Subdomains vs Stored Baseline", "type": "main", "index": 0 }]]
    },
    "Compare Live Subdomains vs Stored Baseline": {
      "main": [[{ "node": "New Subdomain Detected?", "type": "main", "index": 0 }]]
    },
    "New Subdomain Detected?": {
      "main": [
        [{ "node": "Alert: New Subdomain Detected", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": ""
  },
  "tags": ["pentest", "automation", "bugbounty"],
  "triggerCount": 2
}
