pentest_workflow.json
{
  "name": "AI Pentest Automation — Full Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "start-scan",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node_webhook_trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [80, 300],
      "webhookId": "pentest-start-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate the incoming webhook payload\nconst body = $input.first().json.body || $input.first().json;\n\nif (!body.target) {\n  throw new Error('Missing required field: target. Expected: { \"target\": \"example.com\" }');\n}\n\nconst target = body.target.trim().toLowerCase().replace(/^https?:\\/\\//, '');\nconst outOfScope = body.out_of_scope || [];\n\nreturn [{\n  json: {\n    target,\n    out_of_scope: outOfScope,\n    discord_webhook: $env.DISCORD_WEBHOOK_URL,\n    scan_id: `scan_${target}_${Date.now()}`,\n    started_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "node_parse_input",
      "name": "Parse and Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },

    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api -p 22 'nuclei -update-templates -silent && echo templates-updated'"
      },
      "id": "node_preflight_update",
      "name": "Pre-Flight: Update Nuclei Templates",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [520, 300]
    },

    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api 'asnmap -d {{ $json.target }} -json 2>/dev/null | head -20'"
      },
      "id": "node_asnmap",
      "name": "Phase 1A: ASN Mapping",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [740, 180]
    },
    {
      "parameters": {
        "url": "=https://api.shodan.io/shodan/host/search?key={{ $env.SHODAN_API_KEY }}&query=ssl.cert.subject.CN:{{ $('Parse and Validate Input').item.json.target }}&facets=port,country",
        "options": {}
      },
      "id": "node_shodan",
      "name": "Phase 1B: Shodan Passive Recon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [740, 320]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/search/code?q={{ $('Parse and Validate Input').item.json.target }}+password&per_page=30",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GITHUB_TOKEN }}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" }
          ]
        },
        "options": {}
      },
      "id": "node_github_dork",
      "name": "Phase 1C: GitHub Leak Hunt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [740, 460]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "node_rate_limit_wait",
      "name": "Rate Limit Wait — GitHub (3s)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [960, 460]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api 'proxychains4 -q go-dork -q \"site:{{ $('Parse and Validate Input').item.json.target }} ext:env OR ext:sql OR ext:bak\" -p 2 2>/dev/null'"
      },
      "id": "node_godork",
      "name": "Phase 1D: Google Dorking via Tor Proxy",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1180, 460]
    },

    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api '\nTARGET={{ $('Parse and Validate Input').item.json.target }}\nSCAN_ID={{ $('Parse and Validate Input').item.json.scan_id }}\nOUT=/data/temp/all_subs_${SCAN_ID}.txt\n\n# subenum-advanced.sh does 4-layer deep recursive enumeration.\n# It writes results to: $TARGET/recon/final_subdomains_$TARGET.txt\n# chmod to ensure it is executable regardless of host filesystem permissions\nchmod +x /data/subenum-advanced.sh\nbash /data/subenum-advanced.sh \"$TARGET\" 2>/dev/null\n\n# Read from the script\\'s actual output file and copy to scan_id-scoped location\nSCRIPT_OUT=\"${TARGET}/recon/final_subdomains_${TARGET}.txt\"\nif [ -f \"$SCRIPT_OUT\" ]; then\n  sort -u \"$SCRIPT_OUT\" > \"$OUT\"\n  echo \"[subenum] $(wc -l < $OUT) unique subdomains found. Written to $OUT\"\nelse\n  # Fallback: run subfinder directly if script output is missing\n  subfinder -d \"$TARGET\" -all -silent 2>/dev/null | sort -u > \"$OUT\"\n  echo \"[subenum-fallback] $(wc -l < $OUT) subdomains via subfinder fallback\"\nfi\n'"
      },
      "id": "node_subenum",
      "name": "Phase 2: Deep Subdomain Enumeration (4-Layer Recursive)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1400, 300]
    },

    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api 'cat /data/temp/all_subs_{{ $('Parse and Validate Input').item.json.scan_id }}.txt | dnsx -silent -resp -json | tee /data/temp/live_subs_{{ $('Parse and Validate Input').item.json.scan_id }}.json'"
      },
      "id": "node_dnsx",
      "name": "Phase 3A: DNS Resolution (dnsx)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1620, 180]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api 'cat /data/temp/all_subs_{{ $('Parse and Validate Input').item.json.scan_id }}.txt | httpx -silent -status-code -tech-detect -json -rl 20 -H \"User-Agent: Mozilla/5.0 (iPhone; CPU iPhone OS 16_6 like Mac OS X)\" | tee /data/temp/httpx_{{ $('Parse and Validate Input').item.json.scan_id }}.json'"
      },
      "id": "node_httpx",
      "name": "Phase 3B: HTTP Probing with UA Rotation (httpx)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1620, 320]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api 'cat /data/temp/all_subs_{{ $('Parse and Validate Input').item.json.scan_id }}.txt | wafw00f -i /dev/stdin -a -o /data/temp/waf_{{ $('Parse and Validate Input').item.json.scan_id }}.txt 2>/dev/null && echo done'"
      },
      "id": "node_wafw00f",
      "name": "Phase 3C: WAF Detection (wafw00f)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1620, 460]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api 'wappalyzergo -list /data/temp/all_subs_{{ $('Parse and Validate Input').item.json.scan_id }}.txt -json 2>/dev/null | tee /data/temp/tech_{{ $('Parse and Validate Input').item.json.scan_id }}.json && cat /data/temp/tech_{{ $('Parse and Validate Input').item.json.scan_id }}.json'"
      },
      "id": "node_wappalyzer",
      "name": "Phase 3D: Technology Fingerprinting (wappalyzergo)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1840, 180]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api 'katana -list /data/temp/all_subs_{{ $('Parse and Validate Input').item.json.scan_id }}.txt -hl -jc -js-crawl -rl 20 -c 5 -d 3 -o /data/temp/katana_{{ $('Parse and Validate Input').item.json.scan_id }}.txt 2>/dev/null && echo done'"
      },
      "id": "node_katana",
      "name": "Phase 3E: Headless Crawling — JS Parsing (katana)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1840, 320]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api 'cat /data/temp/all_subs_{{ $('Parse and Validate Input').item.json.scan_id }}.txt | gau --threads 2 --retries 3 | sort -u | tee /data/temp/historical_{{ $('Parse and Validate Input').item.json.scan_id }}.txt'"
      },
      "id": "node_gau",
      "name": "Phase 3F: Historical URL Fetch (gau + waybackurls)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1840, 460]
    },
    {
      "parameters": {
        "mode": "waitForAll",
        "mergeByFields": { "values": [] },
        "options": {}
      },
      "id": "node_merge_katana_gau",
      "name": "Merge Gate: Wait for Katana AND gau to Both Complete",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [2060, 320]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api '\nSCAN_ID={{ $('Parse and Validate Input').item.json.scan_id }}\nTARGET={{ $('Parse and Validate Input').item.json.target }}\n\n# Merge katana and gau URL lists — both are now confirmed complete thanks to the merge gate above\ncat /data/temp/katana_${SCAN_ID}.txt /data/temp/historical_${SCAN_ID}.txt | sort -u > /data/temp/all_urls_${SCAN_ID}.txt\necho \"[merge] $(wc -l < /data/temp/all_urls_${SCAN_ID}.txt) total unique URLs from katana + gau\"\n\n# Extract all unique endpoints and parameters\nxnLinkFinder \\\n  -i /data/temp/all_urls_${SCAN_ID}.txt \\\n  -sp http://${TARGET}/ \\\n  -sf ${TARGET}.* \\\n  -d 5 \\\n  -o /data/temp/endpoints_${SCAN_ID}.txt 2>/dev/null\n\necho \"[xnLinkFinder] $(wc -l < /data/temp/endpoints_${SCAN_ID}.txt) endpoints extracted\"\ncat /data/temp/endpoints_${SCAN_ID}.txt\n'"
      },
      "id": "node_xnlink",
      "name": "Phase 3G: Endpoint Extraction (xnLinkFinder — after merge gate)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2280, 320]
    },

    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api 'cat /data/temp/katana_{{ $('Parse and Validate Input').item.json.scan_id }}.txt | grep -iE \"\\.js(\\?.*)?$\" | sort -u | tee /data/temp/js_urls_{{ $('Parse and Validate Input').item.json.scan_id }}.txt | wc -l'"
      },
      "id": "node_extract_js_urls",
      "name": "Phase 3H: Extract JS File URLs from Crawl Results",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2060, 460]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api '\nJS_FILE=/data/temp/js_urls_{{ $('Parse and Validate Input').item.json.scan_id }}.txt\nOUT=/data/temp/js_secrets_{{ $('Parse and Validate Input').item.json.scan_id }}.txt\n\n# Download all JS files to temp dir\nmkdir -p /data/temp/js_{{ $('Parse and Validate Input').item.json.scan_id }}\nwhile read url; do\n  filename=$(echo \"$url\" | md5sum | cut -d\" \" -f1).js\n  curl -sk --max-time 10 \"$url\" -o \"/data/temp/js_{{ $('Parse and Validate Input').item.json.scan_id }}/$filename\" 2>/dev/null\ndone < \"$JS_FILE\"\n\n# Run trufflehog on entire JS directory (800+ secret detector patterns)\ntrufflehog filesystem /data/temp/js_{{ $('Parse and Validate Input').item.json.scan_id }}/ --json --no-verification 2>/dev/null | tee \"$OUT\"\n\n# Also run gf patterns against the raw URL list for quick inline secret markers\ncat \"$JS_FILE\" | gf aws-keys >> \"$OUT\" 2>/dev/null || true\ncat \"$JS_FILE\" | gf base64 >> \"$OUT\" 2>/dev/null || true\ncat \"$JS_FILE\" | gf meg-headers >> \"$OUT\" 2>/dev/null || true\n\necho \"JS secret scan complete. Findings in $OUT\"\n'"
      },
      "id": "node_js_secret_scan",
      "name": "Phase 3I: JS Secret Scanning (trufflehog + gf patterns)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2280, 460]
    },
    {
      "parameters": {
        "jsCode": "// FIXED AI HALLUCINATION: Instead of asking Ollama to generate free-form commands,\n// we define a strict ALLOW-LIST of all supported tools with their exact safe templates.\n// Ollama ONLY selects which tools to enable and provides the TARGET — nothing else.\n// This completely eliminates the risk of hallucinated flags or injected commands.\n\nconst raw = $('Phase 3D: Technology Fingerprinting (wappalyzergo)').item.json.stdout || '{}';\nlet techStack = {};\ntry { techStack = JSON.parse(raw); } catch(e) { techStack = { raw }; }\nconst target = $('Parse and Validate Input').item.json.target;\nconst scan_id = $('Parse and Validate Input').item.json.scan_id;\n\n// ALLOW-LIST: Every possible command is pre-written here. Ollama cannot modify these.\n// It can ONLY return a JSON array of tool names from this list.\n// Tool Registry — commands use container env vars for API keys.\n// WPSCAN_API_TOKEN and OAST_SERVER are injected via docker-compose.yml environment block.\nconst OAST = process.env.OAST_SERVER || 'your-oast-server.oast.fun';\nconst WPSCAN_TOKEN = process.env.WPSCAN_API_TOKEN || '';\n\nconst TOOL_REGISTRY = {\n  wpscan: `wpscan --url https://${target} --api-token ${WPSCAN_TOKEN} -e ap,at,u --plugins-detection aggressive --random-user-agent -o /data/temp/wpscan_${scan_id}.txt 2>/dev/null`,\n  wpprobe: `wpprobe --target https://${target} --enumerate p,t,u --aggressive 2>/dev/null`,\n  nuclei_wp: `nuclei -u https://${target} -t http/technologies/wordpress/ -t http/cms/wordpress/ -iserver ${OAST} -rl 20 -silent -json -o /data/temp/nuclei_wp_${scan_id}.json 2>/dev/null`,\n  nuclei_jira: `nuclei -u https://${target} -t http/cves/ -tags jira -iserver ${OAST} -rl 20 -silent -json -o /data/temp/nuclei_jira_${scan_id}.json 2>/dev/null`,\n  kiterunner: `kr scan https://${target}/ -w /data/wordlists/httparchive_apiroutes_2024.txt -x 20 -q --fail-status-codes 400,401,403,404,429,500,503 -o /data/temp/kr_${scan_id}.txt 2>/dev/null`,\n  sqlmap: `sqlmap -u https://${target}/ --crawl=2 --level=3 --risk=2 --batch --random-agent --tamper=space2comment,between --output-dir /data/temp/sqlmap_${scan_id}/ 2>/dev/null`,\n  commix: `commix --url=\"https://${target}/\" --batch --random-agent 2>/dev/null`,\n  tplmap: `python2 /root/tools/tplmap/tplmap.py -u \"https://${target}/\" 2>/dev/null | tee /data/temp/tplmap_${scan_id}.txt`,\n  s3scanner: `s3scanner scan -d ${target} 2>/dev/null | tee /data/temp/s3_${scan_id}.txt`,\n  nuclei_ssrf: `nuclei -u https://${target} -t vulnerabilities/ssrf/ -t misconfiguration/ssrf/ -iserver ${OAST} -rl 10 -silent -json -o /data/temp/nuclei_ssrf_${scan_id}.json 2>/dev/null`,\n  nuclei_generic: `nuclei -u https://${target} -t http/exposed-panels/ -t http/default-logins/ -t http/ssl/ -iserver ${OAST} -rl 20 -silent -json -o /data/temp/nuclei_panels_${scan_id}.json 2>/dev/null`\n};\n\n// Build the SELECTION-ONLY prompt. Ollama picks names, not commands.\nconst techString = JSON.stringify(techStack).toLowerCase();\nconst prompt = `You are a penetration testing tool selector.\nTarget: ${target}\nDetected technology stack (JSON): ${JSON.stringify(techStack)}\n\nAvailable tool names: ${Object.keys(TOOL_REGISTRY).join(', ')}\n\nInstructions:\n- Output ONLY a raw JSON array of tool name strings from the available list above.\n- Select ONLY tools relevant to the detected technology stack.\n- Do NOT include tool names not in the available list.\n- Do NOT add any explanation, markdown, or extra text.\n- Example valid output: [\"wpscan\", \"nuclei_wp\", \"kiterunner\"]`;\n\nreturn [{ json: { prompt, target, scan_id, tech_stack: techStack, tool_registry: TOOL_REGISTRY } }];"
      },
      "id": "node_build_ai_prompt",
      "name": "AI Agent: Build Structured Allow-List Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, 320]
    },
    {
      "parameters": {
        "url": "http://ollama:11434/api/generate",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3\",\n  \"prompt\": {{ JSON.stringify($json.prompt) }},\n  \"stream\": false\n}",
        "options": {}
      },
      "id": "node_ollama_agent",
      "name": "Phase 4: AI Agent Decision (Ollama — Local, Free)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2500, 320]
    },
    {
      "parameters": {
        "jsCode": "// ALLOW-LIST ENFORCEMENT GATE\n// Ollama returned a JSON array of tool NAMES.\n// This node maps each name to the pre-approved command from the registry.\n// Ollama's output can ONLY select which pre-written commands to run.\n// It is physically impossible for Ollama to inject or hallucinate new commands.\n\nconst ollamaResponse = $input.first().json.response || '';\nconst toolRegistry = $('AI Agent: Build Structured Allow-List Prompt').item.json.tool_registry;\nconst target = $('Parse and Validate Input').item.json.target;\nconst scan_id = $('Parse and Validate Input').item.json.scan_id;\n\n// Parse Ollama's tool name selections\nlet selectedTools = [];\ntry {\n  const match = ollamaResponse.match(/\\[.*?\\]/s);\n  if (match) {\n    selectedTools = JSON.parse(match[0]).filter(t => typeof t === 'string');\n  }\n} catch(e) {}\n\n// FALLBACK: If Ollama failed to return valid JSON or no tools selected, run baseline\nif (selectedTools.length === 0) {\n  selectedTools = ['nuclei_generic'];\n}\n\n// CRITICAL: Only execute commands that exist in our pre-written registry.\n// Any tool name not in the registry is silently dropped — no execution, no error.\nconst approvedCommands = selectedTools\n  .filter(name => toolRegistry[name])\n  .map(name => ({\n    tool: name,\n    command: toolRegistry[name],\n    source: 'allow-list-approved',\n    target,\n    scan_id\n  }));\n\n// Final safety check: run the command through blocked-pattern scan anyway\nconst BLOCKED_PATTERNS = ['rm -rf', 'mkfs', 'dd if=', 'shutdown', 'reboot', 'poweroff'];\nconst safeCommands = approvedCommands.filter(c =>\n  !BLOCKED_PATTERNS.some(p => c.command.includes(p))\n);\n\nreturn safeCommands.length > 0\n  ? safeCommands.map(c => ({ json: c }))\n  : [{ json: { tool: 'nuclei_generic', command: toolRegistry['nuclei_generic'], source: 'fallback', target, scan_id } }];"
      },
      "id": "node_parse_agent_commands",
      "name": "Security Gate: Allow-List Enforcement (No Free-Form Commands)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2720, 320]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api '{{ $json.command }} 2>&1 | tee /data/temp/agent_{{ $json.tool }}_{{ $json.scan_id }}.txt | tail -100'"
      },
      "id": "node_execute_ai_cmd",
      "name": "Phase 4: Execute AI-Directed Tool Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2940, 320]
    },

    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api '\nSCAN_ID={{ $('Parse and Validate Input').item.json.scan_id }}\nOAST=${OAST_SERVER:-your-oast-server.oast.fun}\n\n# Reflected XSS: parameterized endpoints with ? character\ncat /data/temp/endpoints_${SCAN_ID}.txt | grep \"=\" | sort -u | \\\n  dalfox pipe \\\n    --blind \"${OAST}\" \\\n    --waf-bypass \\\n    --skip-bav \\\n    --silence \\\n    --delay 300 \\\n    --timeout 10 \\\n    --worker 5 \\\n    -o /data/temp/dalfox_${SCAN_ID}.txt 2>/dev/null\n\necho \"[dalfox] XSS scan complete\"\n'"
      },
      "id": "node_dalfox",
      "name": "Phase 5A: XSS Automation (dalfox — waf-bypass + blind OAST)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3160, 180]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api '\nSCAN_ID={{ $('Parse and Validate Input').item.json.scan_id }}\nTARGET={{ $('Parse and Validate Input').item.json.target }}\n\nferoxbuster \\\n  -u https://${TARGET}/ \\\n  -w /data/wordlists/SecLists/Discovery/Web-Content/raft-large-directories.txt \\\n  -C 404,429,500,503 \\\n  --rate-limit 8 \\\n  -t 5 \\\n  --depth 3 \\\n  --random-agent \\\n  --dont-filter \\\n  -H \"X-Forwarded-For: 127.0.0.1\" \\\n  -H \"X-Originating-IP: 127.0.0.1\" \\\n  -H \"X-Real-IP: 127.0.0.1\" \\\n  -o /data/temp/ferox_${SCAN_ID}.txt 2>/dev/null\n\necho \"[feroxbuster] Directory scan complete\"\n'"
      },
      "id": "node_feroxbuster",
      "name": "Phase 5B: Directory Enumeration (feroxbuster — WAF evasion headers)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3160, 320]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api 'nuclei -l /data/temp/all_subs_{{ $('Parse and Validate Input').item.json.scan_id }}.txt -t cves/ -t vulnerabilities/ -t misconfiguration/ -t exposures/ -rl 50 -c 12 -silent -json -o /data/temp/nuclei_{{ $('Parse and Validate Input').item.json.scan_id }}.json 2>/dev/null && echo done'"
      },
      "id": "node_nuclei",
      "name": "Phase 5C: Nuclei CVE and Misconfiguration Scan",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3160, 460]
    },

    {
      "parameters": {
        "jsCode": "// Aggregate all scan results into a structured finding list.\n// Now includes JS secret findings from trufflehog and gf pattern scans.\nconst target = $('Parse and Validate Input').item.json.target;\nconst scan_id = $('Parse and Validate Input').item.json.scan_id;\n\nconst nucleiRaw = $('Phase 5C: Nuclei CVE and Misconfiguration Scan').item.json.stdout || '';\nconst dalfoxRaw = $('Phase 5A: XSS Automation (dalfox — parameter driven)').item.json.stdout || '';\nconst jsSecretRaw = $('Phase 3I: JS Secret Scanning (trufflehog + gf patterns)').item.json.stdout || '';\n\nconst findings = [];\n\n// Parse Nuclei JSONL — each line is a separate finding\nconst nucleiLines = nucleiRaw.split('\\n').filter(l => l.trim().startsWith('{'));\nfor (const line of nucleiLines) {\n  try {\n    const p = JSON.parse(line);\n    findings.push({\n      source: 'nuclei',\n      severity: p.info?.severity || 'info',\n      name: p.info?.name || 'Unknown',\n      host: p.host,\n      matched_at: p['matched-at'],\n      description: p.info?.description || ''\n    });\n  } catch(e) {}\n}\n\n// Parse trufflehog JSONL output — each line is a detected secret\nconst truffleLines = jsSecretRaw.split('\\n').filter(l => l.trim().startsWith('{'));\nfor (const line of truffleLines) {\n  try {\n    const t = JSON.parse(line);\n    const detectorName = t.DetectorName || t.detector_name || 'Unknown Secret Type';\n    const file = t.SourceMetadata?.Data?.Filesystem?.file || 'unknown JS file';\n    findings.push({\n      source: 'trufflehog',\n      severity: 'high',\n      name: `Exposed Secret: ${detectorName}`,\n      host: target,\n      matched_at: file,\n      description: `Trufflehog detected a ${detectorName} credential pattern in a JavaScript file. Requires immediate manual review.`\n    });\n  } catch(e) {}\n}\n\n// gf pattern results — treat any output line as a potential secret indicator\nconst gfLines = jsSecretRaw.split('\\n').filter(l =>\n  l.includes('AKIA') || l.includes('Bearer ') || l.includes('sk-') || l.includes('ghp_')\n);\nfor (const line of gfLines) {\n  findings.push({\n    source: 'gf-patterns',\n    severity: 'high',\n    name: 'Potential API Key / Token in JS',\n    host: target,\n    matched_at: line.trim().substring(0, 120),\n    description: 'Pattern match detected a potential credential string in JS file content.'\n  });\n}\n\n// Dalfox — simple keyword detection\nif (dalfoxRaw.includes('[V]') || dalfoxRaw.includes('VULN')) {\n  findings.push({\n    source: 'dalfox',\n    severity: 'medium',\n    name: 'Reflected XSS',\n    host: target,\n    matched_at: target,\n    description: 'Reflected XSS confirmed by Dalfox parameter injection.'\n  });\n}\n\nconst critical = findings.filter(f => ['critical', 'high'].includes(f.severity));\nconst medium = findings.filter(f => f.severity === 'medium');\nconst low = findings.filter(f => ['low', 'info'].includes(f.severity));\n\nreturn [{ json: { target, scan_id, total: findings.length, critical, medium, low } }];"
      },
      "id": "node_aggregate_findings",
      "name": "Aggregate All Scan Findings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3380, 320]
    },

    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.critical.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "node_severity_switch",
      "name": "Severity Router — Critical vs Medium",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3600, 320]
    },

    {
      "parameters": {
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are a professional penetration tester writing a formal bug bounty report.\\nTarget: {{ $json.target }}\\nCritical and High Findings: {{ JSON.stringify($json.critical) }}\\n\\nFor each finding: (1) Confirm if it is a true positive or false positive. (2) If true positive, write a professional Markdown report section with: Severity, Affected Endpoint, Description, Proof of Concept steps, and CVSS Score estimate.\"\n    }]\n  }]\n}",
        "options": {}
      },
      "id": "node_gemini_verify",
      "name": "Phase 6A: Gemini Verification — Critical Findings Only",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3820, 180]
    },
    {
      "parameters": {
        "url": "http://ollama:11434/api/generate",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3\",\n  \"prompt\": \"Summarize these medium-severity security findings in 3 concise bullet points suitable for a security report. Include the endpoint and impact for each. Findings: {{ JSON.stringify($json.medium) }}\",\n  \"stream\": false\n}",
        "options": {}
      },
      "id": "node_ollama_medium",
      "name": "Phase 6B: Ollama Summary — Medium Findings (Local, Free)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3820, 460]
    },

    {
      "parameters": {
        "jsCode": "// Generate the final Markdown penetration test report.\n// Critical findings are Gemini-verified. Medium findings use Ollama (free).\n// Low/Info findings are catalogued silently without AI API cost.\nconst target = $('Parse and Validate Input').item.json.target;\nconst scan_id = $('Parse and Validate Input').item.json.scan_id;\nconst started_at = $('Parse and Validate Input').item.json.started_at;\nconst findings = $('Aggregate All Scan Findings').item.json;\n\nconst geminiText = $('Phase 6A: Gemini Verification — Critical Findings Only').item?.json?.candidates?.[0]?.content?.parts?.[0]?.text\n  || '_No critical findings requiring Gemini verification._';\nconst ollamaSummary = $('Phase 6B: Ollama Summary — Medium Findings (Local, Free)').item?.json?.response\n  || '_No medium findings._';\n\nconst completed_at = new Date().toISOString();\n\nconst report = `# Penetration Test Report: ${target}\n\n**Scan ID:** ${scan_id}  \n**Started:** ${started_at}  \n**Completed:** ${completed_at}  \n\n---\n\n## Summary\n\n| Severity | Count |\n|----------|-------|\n| Critical / High | ${findings.critical.length} |\n| Medium | ${findings.medium.length} |\n| Low / Informational | ${findings.low.length} |\n| **Total Findings** | **${findings.total}** |\n\n---\n\n## Critical and High Severity Findings (Gemini Verified)\n\n${geminiText}\n\n---\n\n## Medium Severity Findings (Ollama Summary)\n\n${ollamaSummary}\n\n---\n\n## Low and Informational Findings\n\n${findings.low.map(f => `- **[${f.severity.toUpperCase()}]** ${f.name} — \\`${f.matched_at}\\``).join('\\n') || '_None._'}\n\n---\n\n*Generated by AI Pentest Automation Framework*  \n*Gemini was used only for critical/high findings to minimize API cost.*\n`;\n\nreturn [{ json: { report, target, scan_id, findings, report_filename: `${target}_${scan_id}.md` } }];"
      },
      "id": "node_build_report",
      "name": "Phase 7A: Generate Final Markdown Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4040, 320]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api 'cat > /data/reports/{{ $json.report_filename }} << '\"'\"'REPORTEOF'\"'\"'\n{{ $json.report }}\nREPORTEOF\necho Report saved: /data/reports/{{ $json.report_filename }}'"
      },
      "id": "node_save_report",
      "name": "Phase 7B: Save Report to Disk",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [4260, 180]
    },
    {
      "parameters": {
        "url": "={{ $('Parse and Validate Input').item.json.discord_webhook }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"username\": \"Pentest Automation Bot\",\n  \"embeds\": [{\n    \"title\": \"Scan Complete: {{ $('Parse and Validate Input').item.json.target }}\",\n    \"color\": {{ $json.findings.critical.length > 0 ? 15158332 : ($json.findings.medium.length > 0 ? 16776960 : 3066993) }},\n    \"fields\": [\n      { \"name\": \"Critical / High\", \"value\": \"{{ $json.findings.critical.length }}\", \"inline\": true },\n      { \"name\": \"Medium\", \"value\": \"{{ $json.findings.medium.length }}\", \"inline\": true },\n      { \"name\": \"Low / Info\", \"value\": \"{{ $json.findings.low.length }}\", \"inline\": true },\n      { \"name\": \"Report Location\", \"value\": \"`/data/reports/{{ $json.report_filename }}`\", \"inline\": false }\n    ],\n    \"footer\": { \"text\": \"Scan ID: {{ $('Parse and Validate Input').item.json.scan_id }}\" },\n    \"timestamp\": \"{{ new Date().toISOString() }}\"\n  }]\n}",
        "options": {}
      },
      "id": "node_discord_alert",
      "name": "Phase 7C: Discord Scan Completion Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [4260, 460]
    },

    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 0 * * 5" }]
        }
      },
      "id": "node_cron_monitor",
      "name": "Cron: Weekly Subdomain Monitor (Friday Midnight)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [80, 700]
    },
    {
      "parameters": {
        "jsCode": "// Load the monitored scope list. Set MONITOR_TARGETS in n8n environment variables.\n// Format: comma-separated list of root domains, e.g. 'target1.com,target2.com'\nconst targets = ($env.MONITOR_TARGETS || 'example.com').split(',').map(t => t.trim());\nreturn targets.map(t => ({ json: { target: t, scan_id: `monitor_${t}_${Date.now()}` } }));"
      },
      "id": "node_cron_scope",
      "name": "Load Monitored Scope from MONITOR_TARGETS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 700]
    },
    {
      "parameters": {
        "command": "=ssh -o StrictHostKeyChecking=no root@pentest-tools-api '\nNEW_SUBS=$(subfinder -d {{ $json.target }} -silent 2>/dev/null)\nBASELINE=/data/temp/baseline_{{ $json.target }}.txt\nif [ -f \"$BASELINE\" ]; then\n  DIFF=$(comm -23 <(echo \"$NEW_SUBS\" | sort) <(sort \"$BASELINE\"))\n  if [ -n \"$DIFF\" ]; then\n    echo \"NEW_FOUND:${DIFF}\"\n    echo \"$NEW_SUBS\" | sort > \"$BASELINE\"\n  else\n    echo NO_CHANGE\n  fi\nelse\n  echo \"$NEW_SUBS\" | sort > \"$BASELINE\"\n  echo BASELINE_CREATED\nfi\n'"
      },
      "id": "node_cron_compare",
      "name": "Compare Live Subdomains vs Stored Baseline",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [520, 700]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stdout }}",
              "operation": "contains",
              "value2": "NEW_FOUND:"
            }
          ]
        }
      },
      "id": "node_cron_new_check",
      "name": "New Subdomain Detected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [740, 700]
    },
    {
      "parameters": {
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"username\": \"Pentest Automation Bot\",\n  \"embeds\": [{\n    \"title\": \"New Subdomains Detected: {{ $('Load Monitored Scope from MONITOR_TARGETS').item.json.target }}\",\n    \"color\": 16753920,\n    \"description\": \"The following new subdomains were discovered on the weekly scan:\\n```\\n{{ $json.stdout.replace('NEW_FOUND:', '').trim() }}\\n```\",\n    \"footer\": { \"text\": \"Weekly Subdomain Monitor\" },\n    \"timestamp\": \"{{ new Date().toISOString() }}\"\n  }]\n}",
        "options": {}
      },
      "id": "node_cron_discord",
      "name": "Alert: New Subdomain Detected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 660]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Parse and Validate Input", "type": "main", "index": 0 }]]
    },
    "Parse and Validate Input": {
      "main": [[{ "node": "Pre-Flight: Update Nuclei Templates", "type": "main", "index": 0 }]]
    },
    "Pre-Flight: Update Nuclei Templates": {
      "main": [[
        { "node": "Phase 1A: ASN Mapping", "type": "main", "index": 0 },
        { "node": "Phase 1B: Shodan Passive Recon", "type": "main", "index": 0 },
        { "node": "Phase 1C: GitHub Leak Hunt", "type": "main", "index": 0 }
      ]]
    },
    "Phase 1C: GitHub Leak Hunt": {
      "main": [[{ "node": "Rate Limit Wait — GitHub (3s)", "type": "main", "index": 0 }]]
    },
    "Rate Limit Wait — GitHub (3s)": {
      "main": [[{ "node": "Phase 1D: Google Dorking via Tor Proxy", "type": "main", "index": 0 }]]
    },
    "Phase 1D: Google Dorking via Tor Proxy": {
      "main": [[{ "node": "Phase 2: Deep Subdomain Enumeration (4-Layer Recursive)", "type": "main", "index": 0 }]]
    },
    "Phase 1A: ASN Mapping": {
      "main": [[{ "node": "Phase 2: Deep Subdomain Enumeration (4-Layer Recursive)", "type": "main", "index": 0 }]]
    },
    "Phase 1B: Shodan Passive Recon": {
      "main": [[{ "node": "Phase 2: Deep Subdomain Enumeration (4-Layer Recursive)", "type": "main", "index": 0 }]]
    },
    "Phase 2: Deep Subdomain Enumeration (4-Layer Recursive)": {
      "main": [[
        { "node": "Phase 3A: DNS Resolution (dnsx)", "type": "main", "index": 0 },
        { "node": "Phase 3B: HTTP Probing with UA Rotation (httpx)", "type": "main", "index": 0 },
        { "node": "Phase 3C: WAF Detection (wafw00f)", "type": "main", "index": 0 }
      ]]
    },
    "Phase 3A: DNS Resolution (dnsx)": {
      "main": [[{ "node": "Phase 3D: Technology Fingerprinting (wappalyzergo)", "type": "main", "index": 0 }]]
    },
    "Phase 3B: HTTP Probing with UA Rotation (httpx)": {
      "main": [[{ "node": "Phase 3D: Technology Fingerprinting (wappalyzergo)", "type": "main", "index": 0 }]]
    },
    "Phase 3C: WAF Detection (wafw00f)": {
      "main": [[{ "node": "Phase 3E: Headless Crawling — JS Parsing (katana)", "type": "main", "index": 0 }]]
    },
    "Phase 3D: Technology Fingerprinting (wappalyzergo)": {
      "main": [[
        { "node": "Phase 3E: Headless Crawling — JS Parsing (katana)", "type": "main", "index": 0 },
        { "node": "Phase 3F: Historical URL Fetch (gau + waybackurls)", "type": "main", "index": 0 }
      ]]
    },
    "Phase 3E: Headless Crawling — JS Parsing (katana)": {
      "main": [[
        { "node": "Merge Gate: Wait for Katana AND gau to Both Complete", "type": "main", "index": 0 },
        { "node": "Phase 3H: Extract JS File URLs from Crawl Results", "type": "main", "index": 0 }
      ]]
    },
    "Phase 3H: Extract JS File URLs from Crawl Results": {
      "main": [[{ "node": "Phase 3I: JS Secret Scanning (trufflehog + gf patterns)", "type": "main", "index": 0 }]]
    },
    "Phase 3I: JS Secret Scanning (trufflehog + gf patterns)": {
      "main": [[{ "node": "Aggregate All Scan Findings", "type": "main", "index": 0 }]]
    },
    "Phase 3F: Historical URL Fetch (gau + waybackurls)": {
      "main": [[{ "node": "Merge Gate: Wait for Katana AND gau to Both Complete", "type": "main", "index": 1 }]]
    },
    "Merge Gate: Wait for Katana AND gau to Both Complete": {
      "main": [[{ "node": "Phase 3G: Endpoint Extraction (xnLinkFinder — after merge gate)", "type": "main", "index": 0 }]]
    },
    "Phase 3G: Endpoint Extraction (xnLinkFinder — after merge gate)": {
      "main": [[{ "node": "AI Agent: Build Structured Allow-List Prompt", "type": "main", "index": 0 }]]
    },
    "AI Agent: Build Structured Allow-List Prompt": {
      "main": [[{ "node": "Phase 4: AI Agent Decision (Ollama — Local, Free)", "type": "main", "index": 0 }]]
    },
    "Phase 4: AI Agent Decision (Ollama — Local, Free)": {
      "main": [[{ "node": "Security Gate: Allow-List Enforcement (No Free-Form Commands)", "type": "main", "index": 0 }]]
    },
    "Security Gate: Allow-List Enforcement (No Free-Form Commands)": {
      "main": [[{ "node": "Phase 4: Execute AI-Directed Tool Command", "type": "main", "index": 0 }]]
    },
    "Phase 4: Execute AI-Directed Tool Command": {
      "main": [[
        { "node": "Phase 5A: XSS Automation (dalfox — parameter driven)", "type": "main", "index": 0 },
        { "node": "Phase 5B: Directory Enumeration (feroxbuster — rate limited)", "type": "main", "index": 0 },
        { "node": "Phase 5C: Nuclei CVE and Misconfiguration Scan", "type": "main", "index": 0 }
      ]]
    },
    "Phase 5A: XSS Automation (dalfox — parameter driven)": {
      "main": [[{ "node": "Aggregate All Scan Findings", "type": "main", "index": 0 }]]
    },
    "Phase 5B: Directory Enumeration (feroxbuster — rate limited)": {
      "main": [[{ "node": "Aggregate All Scan Findings", "type": "main", "index": 0 }]]
    },
    "Phase 5C: Nuclei CVE and Misconfiguration Scan": {
      "main": [[{ "node": "Aggregate All Scan Findings", "type": "main", "index": 0 }]]
    },
    "Aggregate All Scan Findings": {
      "main": [[{ "node": "Severity Router — Critical vs Medium", "type": "main", "index": 0 }]]
    },
    "Severity Router — Critical vs Medium": {
      "main": [
        [{ "node": "Phase 6A: Gemini Verification — Critical Findings Only", "type": "main", "index": 0 }],
        [{ "node": "Phase 6B: Ollama Summary — Medium Findings (Local, Free)", "type": "main", "index": 0 }]
      ]
    },
    "Phase 6A: Gemini Verification — Critical Findings Only": {
      "main": [[{ "node": "Phase 7A: Generate Final Markdown Report", "type": "main", "index": 0 }]]
    },
    "Phase 6B: Ollama Summary — Medium Findings (Local, Free)": {
      "main": [[{ "node": "Phase 7A: Generate Final Markdown Report", "type": "main", "index": 0 }]]
    },
    "Phase 7A: Generate Final Markdown Report": {
      "main": [[
        { "node": "Phase 7B: Save Report to Disk", "type": "main", "index": 0 },
        { "node": "Phase 7C: Discord Scan Completion Alert", "type": "main", "index": 0 }
      ]]
    },
    "Cron: Weekly Subdomain Monitor (Friday Midnight)": {
      "main": [[{ "node": "Load Monitored Scope from MONITOR_TARGETS", "type": "main", "index": 0 }]]
    },
    "Load Monitored Scope from MONITOR_TARGETS": {
      "main": [[{ "node": "Compare Live Subdomains vs Stored Baseline", "type": "main", "index": 0 }]]
    },
    "Compare Live Subdomains vs Stored Baseline": {
      "main": [[{ "node": "New Subdomain Detected?", "type": "main", "index": 0 }]]
    },
    "New Subdomain Detected?": {
      "main": [
        [{ "node": "Alert: New Subdomain Detected", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": ""
  },
  "tags": ["pentest", "automation", "bugbounty"],
  "triggerCount": 2
}
